@charset "UTF-8";
@font-face {
    font-family: maxwell;
    src: url(/font/MAXWELL\ REGULAR.ttf);
}
:root{
    --cor1: #eb445b;
    --cor2: #f5938b;
    --cor3: #f0cdab;
    --cor4: #f1e7c5;
    --cor5: #b6d4bb;

    --font-max: maxwell;
}
*{
    width: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--cor2);
}
li a {
    font-family: var(--font-max), sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    color: white;

}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
