@charset "UTF-8";
@font-face {
    font-family: maxwell;
    src: url(/font/MAXWELL\ REGULAR.ttf);
}
:root{
    --cor1: #eb445b;
    --cor2: #f5938b;
    --cor3: #f0cdab;
    --cor4: #f1e7c5;
    --cor5: #b6d4bb;

    --font-max: maxwell;
}
*{
    width: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor2);
    margin: 0px;
}
header{
    background-color: var(--cor1);
    width: 100vw;
    height: 70px;
    padding: 0px;
}
#links{


}
#links a{
    text-decoration: none;
    margin: 10px;
    color: white;
    font-size: 1.2em;
    font-family: var(--font-max);
}